<table>
  <tr>
    <th>ICAO</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  <% @notams.each do |notam| %>
  <tr>
    <td><%= notam.icao_code %></td>
    <td><%  notam.service_hours[0].each do |h| %> <%= h %> <br> <% end %></td>
    <td><%  notam.service_hours[1].each do |h| %> <%= h %> <br> <% end %></td>
    <td><%  notam.service_hours[2].each do |h| %> <%= h %> <br> <% end %></td>
    <td><%  notam.service_hours[3].each do |h| %> <%= h %> <br> <% end %></td>
    <td><%  notam.service_hours[4].each do |h| %> <%= h %> <br> <% end %></td>
    <td><%  notam.service_hours[5].each do |h| %> <%= h %> <br> <% end %></td>
    <td><%  notam.service_hours[6].each do |h| %> <%= h %> <br> <% end %></td>
  </tr>
<% end %>
</table>
