<table>
  <tr>
    <th>ICAO</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  <% @notams.each do |notam| %>
  <tr>
    <td><%= notam.icao_code %></td>
    <td><%= notam.service_hours[0].join("\n") %></td>
    <td><%= notam.service_hours[1].join("\n") %></td>
    <td><%= notam.service_hours[2].join("\n") %></td>
    <td><%= notam.service_hours[3].join("\n") %></td>
    <td><%= notam.service_hours[4].join("\n") %></td>
    <td><%= notam.service_hours[5].join("\n") %></td>
    <td><%= notam.service_hours[6].join("\n") %></td>
  </tr>
<% end %>
</table>
