<!DOCTYPE html>
<html>
<head>
  <title>StratajetExercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  table {
        border: 1px solid black;
  }
  table th, table td {
        padding: 5px;
        border: 1px solid black;
  }
  div.error {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  color: red;
  }
  div.info {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  color: orange;
  }
  </style>
</head>
<body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

<%= yield %>

</body>
</html>
